.home {
    height: 100%;
    min-height: 100%;
}

.content {
    position: absolute;
    bottom: 0;
    width: 100%;
    min-height: 30%;

    padding-top: 20px;
    padding-bottom: 20px;
}

.icon {
    width: 80px;
}

.icon-small {
    padding: 10px;
    margin-top: 10px;
    width: 50px;
}

.sign-up-message-local {
    padding-top: 20px;
    font-size: x-small;
}


.upload-dialog form {
    padding: 15px;
}

.upload-dialog button {
    margin-top: 50px;
}

.upload-picture {
    width: 100%;
    height: 100%;
}

#icon-loading {
    margin: 30px;
}

@media screen and (max-width: 568px) {
    .content {
        min-height: 40%;
    }

    .icon {
        width: 65px;
    }

    .icon-small {
        padding: 5px;
        margin-top: 50px;
    }
}

@media screen and (max-height: 400px) {
    .icon {
        padding-top: 10px;
        width: 60px;
    }
    .icon-small {
        padding-top: 1px;
        width: 30px;
    }
    .sign-up-message-local {
        padding-top: 1px;
    }

}

@media screen and (max-height: 300px) {
    .icon {
        padding-top: 5px;
        width: 50px;
    }
    .icon-small {
        width: 15px;
    }
}


