.slidenav-content {
    position: fixed;
    top: 50px;
    min-width: 100%;
    min-height: 100%;
}

ul.sidenav {
    position: fixed;
    top: 50px;
    left: -220px;

    text-align: left;
    min-height: 150%;
    background: #000;
    opacity: 0.8;
    width: 220px;
    z-index: 10;

    transition: all 0.2s;
}

ul.open {
    left: 0px;
}

ul.sidenav li {
    color: #FFF;
}
ul.sidenav li > a {
    padding-left: 10px;
    color: #FFF;
}
ul.sidenav li > a > i {
    padding-right: 8px;
}
ul.sidenav li > a:hover {
    text-decoration: none;
    background: #1caf9a;
    cursor: pointer;
}
ul.sidenav li > a:focus {
    text-decoration: none;
}
li.sidenav-selected {
    background: #1caf9a;
}
