html,
body {
    height: 100%;
    min-height: 100%;
    width: 100%;
}

body {
    font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
    padding: 0;
}

a {
    text-decoration: none;
}

.a-underline {
    text-decoration: underline;
}

.button {
    color: white;
    border-radius: 4px;
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;

    text-shadow: 0 1px 1px rgba(0, 0, 0, 0.2);
    background-color: rgb(80, 180, 100);

    z-index: 10;
    box-shadow: 2px 2px 5px rgba(50, 50, 50, 0.5);
    -moz-box-shadow: 2px 2px 5px rgba(50, 50, 50, 0.5);
    -webkit-box-shadow: 2px 2px 5px rgba(50, 50, 50, 0.5);
}

.center {
    text-align: center;
}

.blur {
    filter: blur(3px);
    -webkit-filter: blur(3px);
}

.color-main {
    background-color: #FEBC5F;
}

.color-default {
    background-color: #fff;
}

.border-radius {
    border-radius: 5px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
}

.shadow {
    z-index: 10;
    box-shadow: 2px 2px 10px rgba(150, 50, 50, 0.5);
    -moz-box-shadow: 2px 2px 10px rgba(150, 50, 50, 0.5);
    -webkit-box-shadow: 2px 2px 10px rgba(150, 50, 50, 0.5);
}

#title-frame {
    padding: 0;
    margin: 0;
    height: 100%;
    min-height: 100%;
}

#title-frame-min {
    position: fixed;
    top: 0;
    width: 100%;
    height: 50px;
}

.logo {
    width: 300px;
    padding-top: 100px;
}

.logo-min-frame {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
}

.logo-min {
    height: 35px;
    padding-left: 10px;
    padding-bottom: 10px;
    padding-top: 7px;
    padding-bottom: 5px;
}

.pure-form-stackd input {
    display: inline-block;
}

.user-menu {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    text-align: left;
}

.user-menu .user-image {
    position: absolute;
    top: 5px;
    right: 5px;
    height: 30px;
    width: auto;
}

.menu {
    position: fixed;
    top: 0;
    left: 0;
    margin-top: 10px;
    margin-left: 10px;
    z-index: 10;
}

.main {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 50px;
}

.cursor:hover {
    cursor:pointer;
}

.image {
    opacity: 0;
    transition: opacity 0.5s;
}

.image-loaded {
    opacity: 1;
}

#humberger-button {
    position: absolute;
    top: 10px;
    left: 5px;
    color: #fff;
    z-index: 10;
}

@media screen and (max-width: 568px) {
    .logo {
        width: 200px;
    }
}

@media screen and (max-height: 400px) {
    #title-frame {
        height: 60%;
    }
    .logo {
        width: 180px;
        padding-top: 60px;
    }
}

@media screen and (max-height: 300px) {
    #title-frame {
        height: 60%;
    }
    .logo {
        width: 180px;
        padding-top: 30px;
    }
}
