<% include header %>

  </head>

  <body>

    <div class="home">

      <div id="title-frame" class="center color-main">
      </div>
      <div class="center content color-default">
        <div class="pure-g">
          <div class="pure-u-1 pure-u-sm-1-2">
            <p>写真をアップロードする</p>
            <img src="img/camera-icon.jpg" id="icon-upload" class="cursor icon" type="image/svg+xml"/>
          </div>
          <div class="pure-u-1 pure-u-sm-1-2">
            <p>みんなの写真をみる</p>
            <img src="img/gallery-icon.png" id="icon-gallery" class="cursor icon" type="image/svg+xml"/>
          </div>
        </div>
      </div>
    </div>

    <div class="main center" hidden>
      <div class="upload-dialog">
        <div id="title-frame-min" class="center color-main shadow"></div>
        <form id="form-upload" class="center" method="post" enctype="multipart/form-data" action="/upload">
          <div>
            <input type="file" name="files" id="input-file-upload" accept="image/*" hidden />
            <div id="show-pictures" class="pure-g">
            </div>
            <i id="icon-loading" class="fa fa-spinner fa-spin fa-3x"></i>

          </div>
          <input class="pure-button button" id="button-cancel" type="reset" value="キャンセル"/>
          <input class="pure-button button" id="button-send" type="submit" value="アップロード" />
        </form>

      </div>
    </div>
    <script type="text/javascript" src="js/vendor/load-image.all.min.js"></script>
    <script type="text/javascript" src="js/home.js"></script>
  </body>

</html>
