<% include header %>

  </head>

  <body>

    <div class="home">

      <div id="title-frame" class="center color-main">
      </div>

      <div class="center content color-default">
        <p>お持ちのアカウントで登録/ログイン</p>
        <a href="/auth/twitter">
          <img class="icon-small" src="./img/icon-twitter.png" />
        </a>
        <a href="/auth/github">
          <img class="icon-small" src="./img/icon-github.png" />
        </a>
        <p class="sign-up-message-local">ぱふぉしぇアカウントで登録/ログインの方は <Strong><a href="/auth/signup" class="a-underline">こちら</a></Strong></p>
      </div>

    </div>

    <script type="text/javascript" src="js/signin.js"></script>
  </body>

</html>
