<% include header %>

  </head>

  <body>

    <div class="slide-back color-main blur">
    </div>
    <div class="slide-back-filter">
    </div>

    <div id="slide-frame" class="center">
    </div>

    <script type="text/javascript" src="js/vendor/load-image.all.min.js"></script>
    <script type="text/javascript" src="js/slides.js"></script>
  </body>

</html>
