<% include header %>

  </head>

  <body>

    <div id="title-frame-min" class="center color-main shadow"></div>

    <div class="main center">
      <div id="photo-frame"></div>
    </div>

    <script type="text/javascript" src="/js/user-photos.js"></script>
  </body>

</html>
